# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT = 3000

DATABASE_NAME = ecommerce
DATABASE_USER = postgres
DATABASE_PASSWORD = root
DATABASE_URL = "postgresql://postgres:root@localhost:5432/ecommerce?schema=public"

NODE_ENV = development

JWT_SECRET = a3f4e2c83b7f9d6a48d1b9e2f31c6d5f9b3e4a1c9d2e7f1a6b4c3d8e2a1b0c3fasds

SESSION_SECRET = a3f4e2c83b7f9d6a48d1b9e2f31c6d5f9b3e4a1c9d2e7f1a6b4c3d8e2a1b0c3fasds

REDIS_HOST = localhost
REDIS_PORT = 6379
